.reddit-list-container{
    display:flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}
.reddit-list-container .loading{
    margin: 20px;
    font-size: larger;
}